{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container container-pad mt-2 mb-5">
        <div class="row">
            <!-- contact us header and message -->
            <div class="col-8 offset-2"><br><br>
                <h2 class="fw-bold mb-4 display-6">Contact Us</h2>
                <hr>
                <h6 class="text-muted">If you need help or support</h6>
              
            </div>
        </div>

        <!-- contact us form container -->
        <div class="row">
            <div class="col-8 offset-2">
                <p class="contact">Contact us:<br><br>
                    <a href="mailto:alana@example.com">alana@example.com</a> <br><br>   
                    <hr>
                   <span>Our support is available at:<br>
                    <span>Tel: 12356487</span><br><br>
                    Everyday from 07:00 - 19:00
                   </span>
                   <hr>
                    Follow us: 
                    <ul class="social-icons">
                        <li><a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li> |
                        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>    
                      </ul>
                </p>
           </div>   
    </div>
    </div>

{% endblock %}