{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container text-center my-5"><br>  
    <h1 class="logo-font text-muted my-0"><img src="https://img.icons8.com/cute-clipart/100/000000/bug.png" alt="bug"/>500</h1>  
    <h1 class="logo-font text-muted my-0">Page not found</h1>
    <h5>We are sorry, the page you requested could not be found. Please go back to the homepage.</h5>
    <a class="btn btn-outline-black btn-lg text-white mt-4" href="{% url 'home' %}">Take Me Home</a>
</div>
{% endblock %}